<!-- header template 적용 -->
{{>./layouts/header.html}}

<!-- content -->
<div>
{{#users}}
{{name}}({{age}}세, {{#gender}}남자{{/gender}}{{^gender}}남자{{/gender}})
{{/users}}
</div>

<!-- footer template 적용 -->
{{>./layouts/footer.html}}
